<template>
  <div class="wrapp">
    <table>
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Віддаю</th>
          <th class="text-left">Отримую</th>
          <th class="text-left">По курсу</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in $store.state.exchangeOperations" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.give }}</td>
          <td>{{ item.get }}</td>
          <td>{{ item.receive }}</td>
        </tr>
      </tbody>
    </table>
    <div v-if="!$store.state.exchangeOperations.length" class="empty">
      <div>Не має обмінів</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TableChange",

  data() {
    return {};
  },
};
</script>

<style scoped>
.wrapp {
  width: 100%;
  height: 300px;
  overflow: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #c1c1c1;
}

thead,
th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

tbody {
  position: relative;
}
.empty {
  height: 250px;
  width: 100%;
  border: 1px solid #dddddd;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
